<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Admin - Deactivated User List</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div th:replace="admin/layout::navbar"></div>

<div class="container-fluid mt-4" style="display: flex">
    <aside th:replace="admin/layout::aside"></aside>
    <main class="col-md-9" th:replace="admin/layout::user-list('Deactivated user List')"></main>
</div>

<div th:replace="admin/layout::footer"></div>


</body>
</html>