<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Admin - Deactivated User List</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css}"/>
</head>
<body>
<div th:replace="admin/layout::navbar"></div>

<div class="container-fluid mt-4" style="display: flex">
    <aside th:replace="admin/layout::aside"></aside>
    <main class="col-md-9">
        <h1>Deactivated user list</h1>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Search"/>
            </div>
            <div class="col-md-6">
                <select class="form-control mb-2 mr-sm-2">
                    <option>Sort by</option>
                    <option>First name</option>
                    <option>Last name</option>
                    <option>Email</option>
                    <option>Role</option>
                </select>
            </div>
        </div>
        <table id="users" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Role</th>
                <th>State</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users.content}">
                <td><span th:text="${user.lastName}"></span></td>
                <td><span th:text="${user.firstName}"></span></td>
                <td><span th:text="${user.email}"></span></td>
                <td><span th:text="${user.admin ? 'Admin' : 'User'}"></span></td>
                <td><span th:text="${user.active ? 'Activated' : 'Deactivated'}"></span></td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{/admin/edit-user/{id}(id=${user.id})}"
                           class="btn btn-info">Edit</a>
                        <a th:href="@{/admin/delete-user/{id}(id=${user.id})}"
                           class="btn btn-danger">Delete</a>
                        <a th:href="@{/admin/activate-user/{id}(id=${user.id})}"
                           class="btn btn-success">Activate</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${users.totalPages > 1}" class="text-center mb-lg-5 ">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${users.first ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=0, size=${users.size})}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${users.first ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${users.number - 1}, size=${users.size})}">&lsaquo;</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}" class="page-item"
                        th:classappend="${i == users.number ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${i}, size=${users.size})}"
                           th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${users.last ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${users.number + 1}, size=${users.size})}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${users.last ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${users.totalPages - 1}, size=${users.size})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>

    </main>
</div>

<div th:replace="admin/layout::footer"></div>


</body>
</html>