<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administration Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<!--    <script src="https://kit.fontawesome.com/c454f155ef.js" crossorigin="anonymous"></script>-->
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Chatroom Admin Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user-list' ? 'active' : ''}">
                    <a class="nav-link" href="/admin/user-list"><i class="fa fa-user"></i> User list</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin/deactivated-user-list' ? 'active' : ''}">
                    <a class="nav-link" href="/admin/deactivated-user-list"><i class="fa fa-user-alt-slash"></i> Deactivated user list</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin/create-user' ? 'active' : ''}">
                    <a class="nav-link" href="/admin/create-user"><i class="fa fa-user-plus"></i> Create new user</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid mt-4" style="display: flex">
    <aside class="col-md-3" th:fragment="aside">
        <h4>Admin Info</h4><br>
        <p><strong>Email:</strong> <span th:text="${session.loginAdminEmail}"></span></p>
        <p><strong>First name:</strong> <span th:text="${session.loginAdminFirstName}"></span></p>
        <p><strong>Last name:</strong> <span th:text="${session.loginAdminLastName}"></span></p>
    </aside>
    <main class="col-md-9" th:fragment="user-list(h1Title)">
        <h1 th:text="${h1Title}"></h1>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control mb-2 mr-sm-2 sort" onchange="location.href=this.value;">
                    <option value="?sortBy=" th:selected="${sortBy == ''}">Sort by</option>
                    <option value="?sortBy=firstName" th:selected="${sortBy == 'firstName'}">First name</option>
                    <option value="?sortBy=lastName" th:selected="${sortBy == 'lastName'}">Last name</option>
                    <option value="?sortBy=email" th:selected="${sortBy == 'email'}">Email</option>
                </select>
            </div>
            <div class="col-md-6">
                <form th:action="@{${#httpServletRequest.requestURI}(page=0, size=${users.size}, sortBy=${sortBy}, keyword=${keyword})}"
                      method="get" style="display: flex">
                    <input type="text" class="form-control mb-2 mr-sm-2 search" name="keyword" placeholder="Search"
                           th:value="${param.keyword}"/>
                    <button type="submit" class="btn btn-primary mb-2 search-button"><i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <table id="users" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Role</th>
                <th>State</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users.content}">
                <td><span th:text="${user.id}"></span></td>
                <td><span th:text="${user.firstName}"></span></td>
                <td><span th:text="${user.lastName}"></span></td>
                <td><span th:text="${user.email}"></span></td>
                <td><span th:text="${user.admin ? 'Admin' : 'User'}"></span></td>
                <td>
                    <span th:if="${user.active}">
                        <i class="fa fa-check-circle text-success"></i>
                    </span>
                    <span th:if="${!user.active}">
                        <i class="fa fa-times-circle text-danger"></i>
                    </span>
                </td>

                <td>
                    <div class="btn-group">
                        <a th:href="@{/admin/edit-user/{id}(id=${user.id})}"
                           class="btn btn-info">Edit</a>
                        <a th:href="@{/admin/delete-user/{id}(id=${user.id})}"
                           class="btn btn-danger">Delete</a>
                        <a th:href="@{/admin/deactivate-user/{id}(id=${user.id})}"
                           class="btn btn-warning" th:if="${user.active}">Deactivate</a>
                        <a th:href="@{/admin/activate-user/{id}(id=${user.id})}"
                           class="btn btn-success" th:if="${!user.active}">Activate</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${users.totalPages > 1}" class="text-center mb-lg-5 ">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${users.first ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=0, size=${users.size}, sortBy=${sortBy}, keyword=${keyword})}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${users.first ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${users.number - 1}, size=${users.size}, sortBy=${sortBy}, keyword=${keyword})}">&lsaquo;</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}" class="page-item"
                        th:classappend="${i == users.number ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${i}, size=${users.size}, sortBy=${sortBy}, keyword=${keyword})}"
                           th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${users.last ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${users.number + 1}, size=${users.size}, sortBy=${sortBy}, keyword=${keyword})}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${users.last ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${#httpServletRequest.requestURI}(page=${users.totalPages - 1}, size=${users.size}, sortBy=${sortBy}, keyword=${keyword})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>

    </main>
</div>

<div th:fragment="footer">
    <footer>
        <div class="container-fluid bg-light fixed-bottom">
            <div class="row">
                <div class="col-md-12 text-center" style="font-size: 0.85em; display: flex; justify-content: center; align-items: center;">
                    <p style="margin: 0.4em auto;">SR03 P23 - Chatroom - Jieni YU & Zhuzexuan SHI</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

<script>
    // $(document).ready(function () {
    //     $('#users').DataTable();
    // });
</script>
</body>
</html>