<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administration Homepage</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css}"/>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Chatroom Admin Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user-list' ? 'active' : ''}">
                    <a class="nav-link" href="/admin/user-list">User list</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin/deactivated-user-list' ? 'active' : ''}">
                    <a class="nav-link" href="/admin/deactivated-user-list">Deactivated user list</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/admin/create-user' ? 'active' : ''}">
                    <a class="nav-link" href="/admin/create-user">Create new user</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<aside class="col-md-3" th:fragment="aside">
    <h4>Admin Info</h4><br>
    <p><strong>Email:</strong> <span th:text="${session.loginAdminEmail}"></span></p>
    <p><strong>First name:</strong> <span th:text="${session.loginAdminFirstName}"></span></p>
    <p><strong>Last name:</strong> <span th:text="${session.loginAdminLastName}"></span></p>
</aside>

<div th:fragment="content">
    <!-- content goes here -->
</div>

<div th:fragment="footer">
    <footer>
        <div class="container-fluid bg-light fixed-bottom">
            <div class="row">
                <div class="col-md-12 text-center" style="font-size: 0.85em; display: flex; justify-content: center; align-items: center;">
                    <p style="margin: 0.4em auto;">SR03 P23 - Chatroom - Jieni YU & Zhuzexuan SHI</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

<script>
    // $(document).ready(function () {
    //     $('#users').DataTable();
    // });
</script>
</body>
</html>