body {
    background: white;
    overflow: hidden;
}

.message{
    width: 40em;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    margin: -2em 0;
}

.admin-info {
    margin: 0 1.5em 3em 0.5em;
    border-radius: 10px;
    padding: 1em;
    height: 85vh;
}

footer {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
}