body {
    background: whitesmoke;
    overflow: hidden;
}

.center-form{
    background: white;
    border-radius: 30px;
    box-shadow: 0 2px 8px lightgray;
    padding: 5em 5em;
    margin: 0 auto;
}

.message{
    width: 40em;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    margin: -2em 0;
}

footer {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
}