<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css}"/>
</head>
<body>

<div class="container-fluid" style="margin-top: 10em">
    <div class="container" style="width: 25em">
        <h1 style="margin: 0 auto; text-align: center">Login Page</h1>

        <form th:action="@{login/check}" th:object="${userLoginRequest}" method="post" style="margin-top: 2em">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
<!--                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>-->
                <input type="password" id="password" name="password" th:field="*{password}"
                       th:class="'form-control' + ${invalid != null && invalid ? ' is-invalid' : ''}" required>
                <div class="invalid-feedback">Incorrect email or password</div>
            </div>
            <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">Login</button>
        </form>
    </div>
</div>

<div th:fragment="footer">
    <footer>
        <div class="container-fluid bg-light fixed-bottom">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>SR03 P23 - Chatroom - Jieni YU & Zhuzexuan SHI</p>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

<style>

</style>


</html>