<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Password</title>
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css}"/>
</head>
<body>

<div class="container-fluid" style="margin-top: 10em">
  <div class="container" style="width: 25em">
    <h1 style="margin: 0 auto; text-align: center">Reset Password</h1>

    <form th:action="@{/login/reset-password}" th:object="${userResetPasswordRequest}" method="post" style="margin-top: 2em">
      <div class="form-group" hidden>
        <label for="email">Email:</label>
        <!--                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>-->
        <input type="email" class="form-control" id="email" name="email" th:field="*{email}" th:value="${email}">
      </div>
      <div class="form-group">
        <label for="password-new">New password:</label>
        <!--                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>-->
        <input type="password" class="form-control" id="password-new" name="password-new" th:field="*{passwordNew}" required>
        <div class="invalid-feedback">Incorrect email or password</div>
      </div>
      <div class="form-group">
        <label for="password-validation">Re-enter new password:</label>
        <!--                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>-->
        <input type="password" id="password-validation" name="password-validation" th:field="*{passwordValidation}"
               th:class="'form-control' + ${invalid != null && invalid ? ' is-invalid' : ''}" required>
        <div class="invalid-feedback">The password must be the same for two entries</div>
      </div>
      <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">Submit</button>
    </form>
  </div>
</div>

<div th:fragment="footer">
  <footer>
    <div class="container-fluid bg-light fixed-bottom">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>SR03 P23 - Chatroom - Jieni YU & Zhuzexuan SHI</p>
        </div>
      </div>
    </div>
  </footer>
</div>

</body>

<style>

</style>


</html>