<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to chatroom</title>
</head>
<body>
<h1>Welcome to chatroom</h1>
<p>Dear <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>,</p>
<p>As a new user, we have generated a default password for you to use when logging in to your account.</p>
<p><strong>Default Password:</strong> <span th:text="${password}"></span></p>
<p>Please log in to your account and follow the prompts to reset your password.</p>
<p>Best regards,<br>Chatroom administrator</p>
</body>
</html>

